.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 5;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    z-index: -1;
    background: rgba(0, 0, 0, .5);
}

.post {
    width: 500px;
    border-radius: 11px;
    background: #fff;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #FFD14A;
    color: #1C1C5C;
}

.icon {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

.body {
    padding: 30px;
}

@media only screen and (max-width: 576px) {
    .post {
        width: 100%;
    }
    .modal {
        padding: 0 20px;
    }
}